.featured {
    margin: 4rem 0 2rem;
}

.title {
    font-weight: 600;
    position: relative;
    width: max-content;
    margin-bottom: 2rem;
}

.title::before,
.title::after {
    content: '';
    height: 2px;
    background-color: var(--cyan);
    position: absolute;
    left: 105%;
}

.title::before {
    width: 60px;
    top: 9px;
}

.title::after {
    width: 35px;
    top: 20px;
}

.item {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    max-width: 450px;
}

.top {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
}

.top h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.image {
    display: block;
    overflow: hidden;
}

.image img {
    width: 100%;
    transition: transform 200ms ease;
}

.image:focus {
    outline: 0;
}

.image:hover img,
.image:focus img {
    transform: scale(1.1);
}

.bottom {
    padding: 0 1rem 1rem;
}

.buttons {
    text-align: center;
    margin: .35rem 0 1rem;
}

.buttons a {
    display: inline-block;
    color: var(--cyan);
    text-decoration: none;
    padding: 3px 0;
    width: 80px;
    outline: 2px solid var(--cyan);
    border-radius: 20px;
    margin: 0 10px;
    font-size: .9rem;
    outline-offset: -1px;
    transition: background-color 200ms ease,
            color 200ms ease;
}

.buttons a:hover,
.buttons a:focus {
    background-color: var(--cyan);
    color: var(--dark-blue);
}

.tags {
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    font-size: .9rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--cyan)
}

.all__wrapper {
    text-align: center;
    margin-top: 2rem;
}

.all {
    color: var(--cyan);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    outline: none;
}

.all::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--cyan);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    transition: transform 200ms ease;
}

.all:hover::after,
.all:focus::after {
    transform: translateX(-50%) scaleX(0);
    transform-origin: right;
}

@media (min-width: 680px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: dense;
    }

    .item {
        height: max-content;
        margin: .5rem 0;
    }

    .item:not(.item:nth-child(2)) {
        grid-row: span 3;
        grid-column: 1/2;
    }

    .item:nth-child(2) {
        grid-row: 2/span 3;
        grid-column: 2/3;
    }
}