*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  cursor: pointer;
}

:root {
  --dark-blue: #242936;
  --cyan: #00E3B3;

  --padding: 1.25rem 2rem;
}

::selection {
  background-color: var(--cyan);
  color: var(--dark-blue)
}

body {
  background-color: var(--dark-blue);
  color: var(--cyan);
}

.wrapper {
  padding: var(--padding);
  position: relative;
  overflow: hidden;
}

.panel,
.panel2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-origin: bottom;
}

.panel {
  background: var(--cyan);
}

.panel2 {
  background-color: var(--dark-blue);
  display: grid;
  place-items: center;
  font-size: 5rem;
  font-weight: 900;
}

.panel2>div {
  position: relative;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  left: 0;
}

@media (min-width: 1120px) {
  :root {
    --padding: 3rem 2rem;
  }
}